<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input class="URL-input" placeholder="URL-адрес видео, например https://www.youtube.com/watch?v=MtN1YnoL46Q"> 
    <button class="convert-button">Скачать</button> 
    <script src='/javascripts/main-page.js'></script>
  </body>
</html>
