<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="firstInput">
        <button type="submit">Submit</button>
    </form>
    <a href="/index">На главную</a>
</body>
</html>